/AcimaDaMedia/nbproject/private/
/AcimaDaMedia/build/
/SerieFibonacciVetorial/nbproject/private/
/SerieFibonacciVetorial/build/
/FibonacciIntervaloVetorial/nbproject/private/
/FibonacciIntervaloVetorial/build/
/LeituraSemRepeticao/nbproject/private/
/LeituraSemRepeticao/build/
/TesteLeituraSemRepeticao/nbproject/private/
/TesteLeituraSemRepeticao/build/
/TrocaValoresEmUmVet/nbproject/private/
/ExeModuloOitoUm/nbproject/private/
/ExeModuloOitoUm/build/
/ExeModuloOitoUm/dist/
/TrocaValoresEmUmVet/build/
/SomaDeDoisVetores/nbproject/private/
/SomaDeDoisVetores/build/